{% extends "base.html" %} {% block body %} {% if message %}
<div>{{ message }}</div>
{% endif %}

<form action="{% url 'contact' %}" method="post">
  <!-- Contact -->
  <footer id="contact" class="page page-dark">
    <h2>CONTACT</h2>
    <br />
    <h3>Telephone:</h3>
    <a href="tel:000-000-0000">
      <i class="fa fa-phone" aria-hidden="true"></i> 000-000-0000
    </a>
    <br /><br />
    <h3>E-Mail:</h3>
    <a href="ghazalazameer.cs@gmail.com">
      <i class="fa fa-envelope" aria-hidden="true"></i>
      ghazalazameer.cs@gmail.com
    </a>
    <br /><br />
    <h3>GitHub:</h3>
    <a href="https://github.com/ghazalazameer">
      <i class="fab fa-github" aria-hidden="true"></i>
      https://github.com/ghazalazameer
    </a>
    <br /><br />
    <hr />
    <br />
    2023 | Designed and developed by Ghazala Zameer.
  </footer>

  {% csrf_token %}
</form>

<style>
  /* Navbar */
  /* Add the CSS for your navbar here. */

  /* Contact */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: "Oswald", sans-serif;
  }

  form {
    background: #191a1d;
    color: #d9d9d9;
    padding: 1rem 0.5rem 2rem 9rem;
    text-align: left;
    margin: 0;
    width: 100%;
  }

  .page-dark {
    background: #191a1d;
    color: #ffffff;
  }

  .page-light {
    background: #c9c9c9;
    color: #000000;
  }

  .page-dark h1 {
    color: #ffffff;
    text-align: center;
  }

  .page-light h1 {
    color: #000000;
    text-align: center;
  }

  #contact {
    text-align: middle;
    padding-top: 7rem; /* Add space at the top to create a gap */
    padding-bottom: 7rem; /* Add space at the bottom if needed */
    padding-right: 7rem;
  }

  #contact a {
    color: #d9d9d9;
  }

  #contact a:hover {
    color: #177ddc;
    text-decoration: underline;
  }
</style>
{% endblock body %}
